.news-letter {
    width: 90%; /* Adjust the width for responsiveness */
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 0 20px; /* Adjust the padding for responsiveness */
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    gap: 20px; /* Adjust the gap for responsiveness */
}

.news-letter h1 {
    color: #454545;
    font-size: 40px; /* Adjust font size for responsiveness */
    font-weight: 600;
}

.news-letter p {
    color: #454545;
    font-size: 18px; /* Adjust font size for responsiveness */
}

.news-letter div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 90%; /* Adjust the width for responsiveness */
    max-width: 450px; /* Set a maximum width for responsiveness */
    height: 60px;
    /* border-radius: 80px;
    border: 1px solid #e3e3e3; */
    padding: 0 20px; /* Add padding for responsiveness */
}

  input {
    width: 75%; /* Adjust the width for responsiveness */
    border: none;
    height: 60px;
    outline: none;
    color: #616161;
    font-size: 16px;
    height: 60px;
    border-radius: 80px;
   
    
}

.news-letter div button {
    width: 70%; /* Adjust the width for responsiveness */
    max-width: 400px; /* Set a maximum width for responsiveness */
    height: 60px;
    border-radius: 80px;
    color: white;
    background: black;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.news-letter div button:hover {
    background: #ff4141;
}

/* Media Query for Small Screens (e.g., smartphones) */
@media (max-width: 768px) {
    .news-letter h1 {
        font-size: 32px;
    }

    .news-letter p {
        font-size: 14px;
    }

    .news-letter div {
        max-width: 90%; /* Adjust the maximum width for small screens */
        height: 50px; /* Adjust the height for small screens */
        padding: 0 10px; /* Adjust the padding for small screens */
    }

    .news-letter input {
        font-size: 14px;
    }

    .news-letter div button {
        max-width: 90%; /* Adjust the maximum width for small screens */
        height: 50px; /* Adjust the height for small screens */
        font-size: 14px;
        margin-top: 5px; /* Adjust margin for small screens */
    }
}
